.top{
    
    margin: 10%;
    margin-bottom: 0%;
}

.flt{
    float: left
}

.position{
    position: relative;
    width:50%;
    margin: auto;
   padding: 10px;
}
.fotr{
    cursor: pointer;
    background-color: antiquewhite;
}